---
layout: default
title: Home
---
<div class="content">
    <div class="main">
        <h1 id="site_title">{{ site.title }}</h1>
        <p id="desc">{{ site.description }}</p>
        <div id="descs_hide">
            {% for desc in site.descs %}
            <p>{{ desc }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<h2>Recently Posts</h2>
<ul class="post-list">
    {% for post in site.posts limit: site.max_posts %}
    <li class="post-index">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post-time">{{ post.date | date_to_string }}</span>
        {% for tag in post.tags %}
        <span class="tag">
            <a href="{{ site.baseurl }}{{ site.data.nav[2].url }}#{{ tag }}">{{ tag }}</a>
        </span>
        {% endfor %}
        <div class="post-excerpt">
            {{ post.excerpt }}
        </div>
        <div class="div-line">
            <div class='underline'></div>
        </div>
    </li>
    {% endfor %}
    <h2>
        <a class="see_more" href="{{ site.baseurl }}{{ site.data.nav[1].url }}">See more</a>
    </h2>
</ul>
<script>
    function init() {
        let desc = document.getElementById("desc");
        let descs = document.getElementById("descs_hide");
        let descs_num = Number("{{ site.descs.size }}");
        document.getElementById("site_title").onclick = () => {
            let desc_list = [];
            for (let i of descs.children) {
                if (i.innerText != desc.innerText) {
                    desc_list.push(i.innerText);
                }
            }
            let num = Math.floor(Math.random() * desc_list.length);
            desc.innerText = desc_list[num];
        };
    }
    init();
</script>