body,html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

body{
    width: calc(100% - 16px);
    margin: 8px;
    min-height: calc(100% - 16px);
    position: absolute;
    overflow-y: overlay;
    font-family: "Times New Roman", Georgia, -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;

    img{
        max-width: 100%;
    }
}

header{
    display: block;
}

ul li{
    list-style: circle;
    line-height: 1.75em;
}

blockquote{
    border-left: 3px solid #cbcbcb;
    background: #f8f8f8;
    padding: 0.1em 1em 0.1em 1em;
    margin: 0;
    margin-bottom: 1em;

    p{
        margin: 0.5em;
    }
}

a{
    text-decoration: none;
}

span{
    display: inline-block;
}

nav,.nav{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    display: flex;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;

    .nav{
        display: contents;
    }

    span{
        flex: auto;
        min-width: 10vw;
        padding: 0 0.5em;
        a{
            width: 100%;
            height: 23px;
            line-height: 20px;
            display: block;
            color: black;
            text-decoration: none;
        }
        .underline{
            width: 100%;
            height: 2px;
            visibility: hidden;
            transition: 0.25s all;
            background-color: black;
            transform: scale(0);
        }
    }
    span:hover .underline{
        visibility: visible;
        transform: scale(1);
    }
}

footer{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;

    p{
        margin: 5px auto;
    }

    span{
        margin: 0.5em;
    }

    a{
        color: #0031a7;
        text-decoration: none;
    }
}

pre.highlight{
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.288);
}

#descs_hide{
    display: none;
    visibility: hidden;
}

.container{
    min-height: 80vh;
    max-width: 850px;
    margin: auto;
    padding: 0 2.5em;
    @include mobile{
        padding: 0 0.5em;
    }
}

.content{
    height: calc(100vh - 30px);
    text-align: center;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: '';
        min-height: inherit;
        font-size: 0;
    }

    h1{
        font-size: 4em;
        margin: auto;
        transition: all ease 1s;
        overflow-wrap: break-word;
        overflow-wrap: anywhere;
        word-break: break-word;
        word-break: keep-all;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 0.15em 0.25em 0em;

        @include mobile{
            font-size: 2.5em;
            padding: 0.15rem 0.5rem 0em;
        }
    }

    h1:hover{
        letter-spacing: 1px;
    }

    p{
        font-size: large;
        max-width: 80vw;
        margin: 1em auto 0;
        height: 3em;
        line-height: 1.5em;
        overflow: visible;
        word-break: break-word;
        word-break: keep-all;
    }

    #desc{
        border-radius: 0.5em;
        padding: 0.5em;
        max-width: 325px;
    }

    .main{
        margin: 0 0 50px;
    }
}

.post-list{
    max-width: 960px;
    padding: 0;
    margin: auto;

    h2{
        font-weight: normal;
    }

    .div-line{
        border-bottom: 2px solid rgba(109, 109, 109, 0.445);

        .underline{
            width: 100%;
            height: 2px;
            transition: 0.5s all ease-in-out;
            background-color: black;
            transform: scale(0);
            bottom: -2px;
            position: relative;
        }
    }

    .post-index{
        list-style: none;
        margin-top: 1em;
        margin-bottom: 1em;

        h2{
            font-weight: bold;
            font-size: larger;
        }

        p{
            margin: 5px;
            font-size: medium;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5em;
            max-height: 1.5em;
        }
        .post-excerpt{
            overflow: hidden;
        }
    }
    .post-index:hover .underline{
        transform: scale(1);
    }

    .post-archive{
        margin: 0.5em auto;
    }

    h1,h2,h3,h4,h5,h6{
        display: contents;
        font-size: medium;
        a{
            text-decoration: none;
            color: #0031a7;
        }
    }

    a{
        line-height: 1.5em;
    }

    .post-time{
        float: right;
        line-height: 1.5em;
    }
}

.tag{
    float: right;
    margin:0 0.25em;
    -webkit-user-select: none;
    user-select: none;
    line-height: 1.5em;
    padding: 0 0.5em;
    background-color: rgba(128,128,128,0.11);
    border-radius: 0.25em;

    a{
        color: black;
        text-decoration: none;
    }

    @include mobile{
        display: none;
    }
}

.see_more{
    -webkit-user-select: none;
    user-select: none;
}
