.post{
   h1{
        border-bottom: 2px solid gray;
   }

   .post-date{
        display: inline-block;
        margin: 0.25em auto;
   }

   .tag{
        float: right;
        margin:0 0.25em;
        user-select: none;
        line-height: 1.5em;
        padding: 0 0.5em;
        background-color: rgba(128, 128, 128, 0.11);
        border-radius: 0.25em;
    }
}