.tags{
    .tag-list{
        list-style: none;
        padding: 0;
        
        li{
            display: inline-block;
            margin: 0.25em;
            min-width: 5em;
            user-select: none;
            line-height: 1.5em;
            padding: 0 0 0 0.5em;
            background-color: rgba(128, 128, 128, 0.11);
            border-radius: 0.25em;
        }

        a{
            color: black;
        }

        .tag-size{
            min-width: 2em;
            text-align: center;
            float: right;
            margin: auto  auto auto 0.5em;
        }
    }


    
    .tag-time{
        float: right;
    }
    
    a{
        color: #0031a7;
        text-decoration: none;
    }
}
